@media (min-width: 997px) {
  .generatedIndexPage {
  }
}

/* Duplicated from .markdown h1 */
.title {
  --ifm-h1-font-size: 2.4rem;
  margin-bottom: calc(1.25 * var(--ifm-leading));
  margin-left: 25px;
}

.list article:last-child {
  margin-bottom: 0 !important;
}